
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=624c002cb3bd02b8f60293f67cb11f85
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress