
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c31935dc3da9c0c2b512f5c76a91296b
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress