/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-form-email-name: 'sprite-ico-form-email';
$sprite-ico-form-email-x: 69px;
$sprite-ico-form-email-y: 0px;
$sprite-ico-form-email-offset-x: -69px;
$sprite-ico-form-email-offset-y: 0px;
$sprite-ico-form-email-width: 33px;
$sprite-ico-form-email-height: 24px;
$sprite-ico-form-email-total-width: 102px;
$sprite-ico-form-email-total-height: 76px;
$sprite-ico-form-email-image: '../img/sprite.png';
$sprite-ico-form-email: (69px, 0px, -69px, 0px, 33px, 24px, 102px, 76px, '../img/sprite.png', 'sprite-ico-form-email', );
$sprite-ico-form-name-name: 'sprite-ico-form-name';
$sprite-ico-form-name-x: 41px;
$sprite-ico-form-name-y: 0px;
$sprite-ico-form-name-offset-x: -41px;
$sprite-ico-form-name-offset-y: 0px;
$sprite-ico-form-name-width: 28px;
$sprite-ico-form-name-height: 31px;
$sprite-ico-form-name-total-width: 102px;
$sprite-ico-form-name-total-height: 76px;
$sprite-ico-form-name-image: '../img/sprite.png';
$sprite-ico-form-name: (41px, 0px, -41px, 0px, 28px, 31px, 102px, 76px, '../img/sprite.png', 'sprite-ico-form-name', );
$sprite-ico-form-phone-name: 'sprite-ico-form-phone';
$sprite-ico-form-phone-x: 69px;
$sprite-ico-form-phone-y: 24px;
$sprite-ico-form-phone-offset-x: -69px;
$sprite-ico-form-phone-offset-y: -24px;
$sprite-ico-form-phone-width: 25px;
$sprite-ico-form-phone-height: 28px;
$sprite-ico-form-phone-total-width: 102px;
$sprite-ico-form-phone-total-height: 76px;
$sprite-ico-form-phone-image: '../img/sprite.png';
$sprite-ico-form-phone: (69px, 24px, -69px, -24px, 25px, 28px, 102px, 76px, '../img/sprite.png', 'sprite-ico-form-phone', );
$sprite-ico-lang-bg-name: 'sprite-ico-lang-bg';
$sprite-ico-lang-bg-x: 41px;
$sprite-ico-lang-bg-y: 31px;
$sprite-ico-lang-bg-offset-x: -41px;
$sprite-ico-lang-bg-offset-y: -31px;
$sprite-ico-lang-bg-width: 27px;
$sprite-ico-lang-bg-height: 18px;
$sprite-ico-lang-bg-total-width: 102px;
$sprite-ico-lang-bg-total-height: 76px;
$sprite-ico-lang-bg-image: '../img/sprite.png';
$sprite-ico-lang-bg: (41px, 31px, -41px, -31px, 27px, 18px, 102px, 76px, '../img/sprite.png', 'sprite-ico-lang-bg', );
$sprite-ico-lang-en-name: 'sprite-ico-lang-en';
$sprite-ico-lang-en-x: 27px;
$sprite-ico-lang-en-y: 58px;
$sprite-ico-lang-en-offset-x: -27px;
$sprite-ico-lang-en-offset-y: -58px;
$sprite-ico-lang-en-width: 26px;
$sprite-ico-lang-en-height: 17px;
$sprite-ico-lang-en-total-width: 102px;
$sprite-ico-lang-en-total-height: 76px;
$sprite-ico-lang-en-image: '../img/sprite.png';
$sprite-ico-lang-en: (27px, 58px, -27px, -58px, 26px, 17px, 102px, 76px, '../img/sprite.png', 'sprite-ico-lang-en', );
$sprite-ico-lang-ru-name: 'sprite-ico-lang-ru';
$sprite-ico-lang-ru-x: 0px;
$sprite-ico-lang-ru-y: 58px;
$sprite-ico-lang-ru-offset-x: 0px;
$sprite-ico-lang-ru-offset-y: -58px;
$sprite-ico-lang-ru-width: 27px;
$sprite-ico-lang-ru-height: 18px;
$sprite-ico-lang-ru-total-width: 102px;
$sprite-ico-lang-ru-total-height: 76px;
$sprite-ico-lang-ru-image: '../img/sprite.png';
$sprite-ico-lang-ru: (0px, 58px, 0px, -58px, 27px, 18px, 102px, 76px, '../img/sprite.png', 'sprite-ico-lang-ru', );
$sprite-ico-mail-name: 'sprite-ico-mail';
$sprite-ico-mail-x: 0px;
$sprite-ico-mail-y: 0px;
$sprite-ico-mail-offset-x: 0px;
$sprite-ico-mail-offset-y: 0px;
$sprite-ico-mail-width: 41px;
$sprite-ico-mail-height: 28px;
$sprite-ico-mail-total-width: 102px;
$sprite-ico-mail-total-height: 76px;
$sprite-ico-mail-image: '../img/sprite.png';
$sprite-ico-mail: (0px, 0px, 0px, 0px, 41px, 28px, 102px, 76px, '../img/sprite.png', 'sprite-ico-mail', );
$sprite-ico-phone-name: 'sprite-ico-phone';
$sprite-ico-phone-x: 0px;
$sprite-ico-phone-y: 28px;
$sprite-ico-phone-offset-x: 0px;
$sprite-ico-phone-offset-y: -28px;
$sprite-ico-phone-width: 29px;
$sprite-ico-phone-height: 30px;
$sprite-ico-phone-total-width: 102px;
$sprite-ico-phone-total-height: 76px;
$sprite-ico-phone-image: '../img/sprite.png';
$sprite-ico-phone: (0px, 28px, 0px, -28px, 29px, 30px, 102px, 76px, '../img/sprite.png', 'sprite-ico-phone', );
$spritesheet-width: 102px;
$spritesheet-height: 76px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-ico-form-email, $sprite-ico-form-name, $sprite-ico-form-phone, $sprite-ico-lang-bg, $sprite-ico-lang-en, $sprite-ico-lang-ru, $sprite-ico-mail, $sprite-ico-phone, );
$spritesheet: (102px, 76px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
