@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  .choose-language,
  .logo,
  .contacts-block {
    height: 185px;
    margin-bottom: 5px;
  }
  .choose-language {
    position: relative;

    padding-top: 70px;
    padding-left: 30px;
    h6,
    ul {
      width: 192px;
    }
    h6 {
      font-weight: bold;

      position: absolute;
      top: 60px;

      text-align: center;
      white-space: nowrap;
      text-transform: uppercase;

      color: $blue;
      span {
        padding: 2px;

        background-color: #fff;
      }
    }
    ul {
      display: block;

      padding: 10px 10px 10px 32px;

      border: 1px solid $blue;
      li {
        font-size: 16px;
        font-weight: bold;

        position: relative;

        margin: 0;
        padding: 2px 0 2px 35px;
        a {
          color: $dark-gray;
        }
        &.active,
        &:hover {
          a {
            text-decoration: none;

            color: $red;
          }
        }
        &:before {
          position: absolute;
          top: 4px;
          left: 0;

          @extend .dblock;
        }
        &.lang-bg {
          &:before {
            @include sprite($sprite-ico-lang-bg);
          }
        }
        &.lang-ru {
          &:before {
            @include sprite($sprite-ico-lang-ru);
          }
        }
        &.lang-en {
          &:before {
            @include sprite($sprite-ico-lang-en);
          }
        }
      }
    }
  }
  .logo {
    display: block;

    width: $width / 10;
    img {
      max-width: 100%;
    }
  }
}
nav {
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  .headnav {
    padding: 16px 0;

    text-align: center;

    @extend .clearfix;
    li {
      font-size: 14px;
      font-weight: bold;

      display: inline-block;
      a {
        padding: 0 10px;

        color: $dark-gray;
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  padding: 40px;

  @extend .clearfix;
  table {
    margin-bottom: 36px;

    background-image: url(../img/table-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    td,
    th {
      font-size: 18px;

      text-align: center;
      vertical-align: middle;

      border: 2px solid $blue;
    }
  }
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';
