@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  min-width: 400px !important;
}
header {
  .choose-language,
  .logo-block,
  .contacts-block {
    height: 185px;
    margin-bottom: 5px;
  }
  .choose-language {
    position: relative;

    padding-top: 70px;
    padding-left: 30px;
    h6,
    ul {
      width: 192px;
    }
    h6 {
      font-weight: bold;

      position: absolute;
      top: 60px;

      text-align: center;
      white-space: nowrap;
      text-transform: uppercase;

      color: $blue;
      span {
        padding: 2px;

        background-color: #fff;
      }
    }
    ul {
      display: block;

      padding: 10px 10px 10px 32px;

      border: 1px solid $blue;

      @extend .clearfix;
      li {
        font-size: 16px;
        font-weight: bold;

        position: relative;

        margin: 0;
        padding: 2px 0 2px 35px;
        a {
          color: $dark-gray;
        }
        &.active,
        &:hover {
          a {
            text-decoration: none;

            color: $red;
          }
        }
        &:before {
          position: absolute;
          top: 4px;
          left: 0;

          @extend .dblock;
        }
        &.lang-bg {
          &:before {
            @include sprite($sprite-ico-lang-bg);
          }
        }
        &.lang-ru {
          &:before {
            @include sprite($sprite-ico-lang-ru);
          }
        }
        &.lang-en {
          &:before {
            @include sprite($sprite-ico-lang-en);
          }
        }
      }
    }
  }
  .logo-block {
    padding-top: 14px;
    .logo {
      display: block;

      width: 151px;
      height: 162px;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }
  }
  .contacts-block {
    padding-top: 55px;
    .contact-phone,
    .contact-mail {
      position: relative;

      display: block;
      float: right;

      text-align: right;

      border: 1px solid $blue;
      &:before,
      &:after {
        position: absolute;
        top: 50%;

        margin-top: -14px;

        @extend .dblock;
      }
    }
    .contact-phone {
      margin-bottom: 15px;
      padding: 6px 8px 6px 30px;
      span,
      a {
        line-height: 1.2;

        display: block;

        margin-bottom: 0;

        color: $dark-gray;
        &:hover {
          text-decoration: none;
        }
      }
      &:before {
        left: -8px;

        @include sprite($sprite-ico-phone);
      }
      &:after {
        display: none;
      }
    }
    .contact-mail {
      padding: 6px 6px 6px 12px;

      color: $dark-gray;
      &:hover {
        text-decoration: none;
      }
      &:before,
      &:after {
        left: -34px;

        @include sprite($sprite-ico-mail);
      }
      &:before {
        background-color: #fff;
        background-image: none;
      }
    }
  }
}
nav {
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  .headnav {
    padding: 16px 0;

    text-align: center;

    @extend .clearfix;
    li {
      font-size: 14px;
      font-weight: bold;

      display: inline-block;
      a {
        padding: 0 10px;

        color: $dark-gray;
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
  &.col-md-12 {
    padding: 40px;
  }
  h1 {
    font-size: 200%;

    margin-bottom: 20px;
  }
  h2 {
    font-size: 180%;

    margin-bottom: 19px;
  }
  h3 {
    font-size: 160%;

    margin-bottom: 18px;
  }
  h4 {
    font-size: 140%;

    margin-bottom: 16px;
  }
  h5 {
    font-size: 120%;

    margin-bottom: 16px;
  }
  h6 {
    font-size: 110%;

    margin-bottom: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }
  table {
    margin-bottom: 36px;

    background-image: url(../img/table-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    td,
    th {
      font-size: 18px;

      text-align: center;
      vertical-align: middle;

      border: 2px solid $blue;
    }
    tr {
      &:first-child {
        td {
          font-weight: bold;
        }
      }
    }
  }
  ol,
  ul {
    padding: 0 0 0 40px;

    list-style: decimal;
    li {
      &:before {
        display: none;
      }
    }
  }
  ul {
    list-style: disc;
  }
  hr {
    margin-right: -36px;
    margin-bottom: 25px;
    margin-left: -36px;

    border-bottom: 2px solid $blue;
  }
}
.looper {
  @extend .clearfix;
}
.callback-form {
  padding: 30px 80px 80px;

  border-top: 2px solid $blue;
  h6 {
    font-weight: bold;

    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;
  }
  form {
    display: flex;
    flex-direction: column;

    height: 280px;

    justify-content: flex-start;
    flex-wrap: wrap;
  }
  input[type='text'] {
    width: 100%;
    height: 46px;
    /* margin-bottom: 30px; */

    background-color: transparent;
  }
  input[type='submit'] {
    font-size: 22px;
    font-weight: normal;
    line-height: 1;

    width: 230px;
    height: 46px;
    padding-top: 12px;

    letter-spacing: 1px;

    align-self: flex-end;
  }
  textarea {
    width: 730px;
    height: 200px;
    margin-bottom: 30px;

    align-self: flex-end;
  }
  textarea {
    background-color: #f7f7f7;
  }
  .input-name,
  .input-email,
  .input-phone {
    position: relative;

    width: 230px;
    height: 46px;
    margin-bottom: 30px;
    padding: 10px;

    background-color: #f7f7f7;
    .wpcf7-form-control-wrap,
    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .placeholders {
      position: relative;

      display: block;

      width: 100%;
      height: 100%;
      padding-left: 50px;

      opacity: 1;
      color: #b9b9b9;
      &:before {
        position: absolute;
        top: 12px;
        left: 3px;

        margin-top: -15px;

        @extend .dblock;
      }
    }
  }
  .input-name {
    .placeholders {
      &:before {
        @include sprite($sprite-ico-form-name);
      }
    }
  }
  .input-email {
    .placeholders {
      &:before {
        @include sprite($sprite-ico-form-email);
      }
    }
  }
  .input-phone {
    .placeholders {
      &:before {
        @include sprite($sprite-ico-form-phone);
      }
    }
  }
  .input-focused {
    .placeholders {
      opacity: 0;
    }
  }
  div.wpcf7-response-output {
    position: absolute;
  }
}

footer {
  height: $footer;
  margin: $footer_margin auto 0;
  .container {
    height: $footer;

    border-top: 2px solid $blue;
  }
  .footer-copyright {
    font-size: 14px;

    padding: 25px 0 0 130px;

    text-transform: uppercase;

    background-image: url(../img/logo-footer.png);
    background-repeat: no-repeat;
    background-position: 28px 10px;
  }
  .footer-phone {
    padding: 25px 25px 0 0;

    text-align: right;
    a {
      font-size: 14px;

      display: block;

      color: $dark-gray;
    }
  }
}

@media (max-width: 1200px) {
  .callback-form {
    form {
      height: auto;
    }
    .input-name,
    .input-email,
    .input-phone {
      width: 100%;
      input {
      }
    }
    textarea {
      width: 100%;

      align-self: auto;
    }
  }
}

@media (max-width: 990px) {
  header {
    .row {
      position: relative;
    }
    // .logo-block {
    //   position: absolute;
    //   top: 110px;
    //   left: 190px;
    //   width: 120px;
    //   padding-top: 0;
    //   .logo {
    //     width: 100%;
    //   }
    // }
    .choose-language {
      display: none;

      height: 100px;
      padding-top: 30px;
      h6 {
        top: 20px;
      }
      h6,
      ul {
        width: 100%;
      }
      ul {
        li {
          display: inline-block;
          float: left;

          width: 33%;
        }
      }
    }
    .contacts-block {
      display: none;

      height: 120px;
      padding-top: 20px;
      .contact-phone {
        float: left;

        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 860px) {
  body {
    font-size: 14px;
  }
  article {
    table {
      td,
      th {
        font-size: 110%;
      }
    }
  }
}
@media (max-width: 640px) {
  body {
    font-size: 12px;
  }
  article {
    table {
      td,
      th {
        font-size: 90%;
      }
    }
  }
  footer {
    .footer-copyright {
      font-size: 100%;
    }
  }
}
@media (max-width: 460px) {
  body {
    font-size: 10px;
  }
  footer {
    .footer-phone {
      font-size: 100%;
    }
  }
}

@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';
